/* Basic page setup */
* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(rgb(0, 247, 255), rgb(32, 0, 128));
  background-repeat: no-repeat;
  min-width: 100%;
  min-height: 100vh;
  color: rgb(255, 255, 255);
  margin: 10px;
  border-image: 0%;
  height: fit-content;
  font-size: 16px;
}

header {
  height: fit-content;
  margin-left: 0%;
  font-size: 24px;
  color: rgb(255, 255, 255);
}

img {
  margin-left: 3rem;
}

a {
  margin: 0rem;
  font-size: 16px;
  color: rgb(255, 255, 255);
}

/* The pinboard grid */

.pinboard {
  display: grid;
  grid-template-columns: repeat(2, 12%);
  gap: 15%;
  margin-top: 0%;
  margin-right: 5%;
}

.pin {
  /* background-color: aqua; */
  cursor: crosshair;
  margin: 0;
}

.pin figcaption {
  width: 20vh;
  height: 20vh;
  display: grid;
}

/* By default: show descriptions, hide images */

.pin img {
  width: 50%;
  height: 100%;
  display: inline-block;
  object-fit: cover;
}

/* When the pin has the class "text-mode",
   swap them: hide description, show images */

.pin.text-mode img {
  display: block;
  object-fit: cover;
}

.pin.text-mode figcaption {
  display: none;
  background: rgb(255, 0, 204);
  padding: 1.5rem;
  height: 100%;
}
