* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {

  font-family: "Cormorant Garamond", serif;

  background:
    radial-gradient(circle at top, #4a1d00 0%, #230000 40%, #120000 100%);

  color: #f7d24c;

  min-height: 100vh;

  padding: 4rem 4rem;
}

/* HERO */

.hero {
  display: flex;
  justify-content: center;

  margin-bottom: 5rem;
}

.hero-card {

  width: 100%;
  max-width: 1100px;

  background: #b30017;

  border: 4px solid #e09b27;

  border-radius: 25px;

  text-align: center;

  padding: 2rem;

  box-shadow: 0 0 40px rgba(0,0,0,0.3);
}

.hero-card h1 {

  font-size: clamp(3rem, 6vw, 6rem);

  line-height: 1;

  margin: 1rem 0;

  font-weight: 700;
}

.subtitle {

  font-size: 1.3rem;

  font-style: italic;

  margin-bottom: 1rem;
}

.dots {

  letter-spacing: 0.5rem;

  font-size: 1.2rem;
}

/* STORY */

.story {

  max-width: 700px;

  margin: 0 auto 6rem auto;

  line-height: 1.7;

  font-size: 1.7rem;
}

.story p {
  margin-bottom: 2rem;
}

.dropcap::first-letter {

  float: left;

  font-size: 5rem;

  line-height: 0.8;

  padding-right: 0.5rem;

  color: #f7d24c;

  font-weight: 700;
}

/* COLLECTION */

.collection {

  text-align: center;

  margin-bottom: 3rem;
}

.collection-label {

  letter-spacing: 0.5rem;

  font-size: 0.9rem;

  margin-bottom: 1rem;

  opacity: 0.7;
}

.collection h2 {

  font-size: 3rem;

  font-weight: 700;
}

/* TICKETS */

.tickets {

  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));

  gap: 2rem;

  max-width: 1200px;

  margin: 0 auto;
}

/* SINGLE TICKET */

.ticket {

  display: flex;

  border-radius: 20px;

  overflow: hidden;

  background: #efe5d0;

  box-shadow: 0 10px 30px rgba(0,0,0,0.35);

  transition: 0.3s;
}

.ticket:hover {

  transform: translateY(-5px);
}

.ticket-main {

  flex: 1;

  padding: 1.5rem;

  color: #111;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ticket-top {

  font-size: 0.75rem;

  letter-spacing: 0.2rem;

  opacity: 0.5;

  margin-bottom: 1rem;
}

.ticket-content {

  display: flex;
  align-items: center;
  gap: 1rem;
}

.ticket-content img {

  width: 50px;
}

.ticket-content h3 {

  font-size: 2rem;

  margin-bottom: 0.3rem;
}

.ticket-content p {

  font-size: 1.2rem;

  color: #555;
}

.ticket-bottom {

  display: flex;
  justify-content: space-between;

  margin-top: 2rem;

  font-size: 0.8rem;

  letter-spacing: 0.2rem;

  opacity: 0.5;
}

/* STUB */

.ticket-stub {

  width: 90px;

  background: #c5001d;

  color: #f7d24c;

  writing-mode: vertical-rl;

  text-orientation: mixed;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 700;

  letter-spacing: 0.3rem;

  font-size: 1rem;
}